/asm/.zig-cache
/asm/zig-out
/asm/assembleme.o
/asm/out
/lnk/out.bin
/out
/out.bin
/emu/dist-newstyle
*.exe

# Tiny Tapeout
.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
test/prog.hex
test/expected.txt
test/results.txt
test/vhdl/work-obj08.cf
